.project-card {
  padding: 1em;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
  width: 24%;
  margin: 0.5%;
}

.project-card h4 {
  background-color: #222;
  color: #ffbb33;
  padding: 0.4em;
  margin-bottom: 1.3em;
  font-size: 1.3em;
}

.project-card p {
  color: #7a7a7a;
  margin-bottom: 1em;
}

.project-card p span {
  font-weight: bold;
}

.category-text {
  display: flex;
  align-items: center;
}

.category-text span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 5px;
}

.category-text .infra {
  background-color: #ffaebc;
}

.category-text .development {
  background-color: #bfaeff;
}

.category-text .design {
  background-color: #8deeaa;
}

.category-text .planning {
  background-color: #5254b9;
}

.project-card-action {
  margin-top: 1.2em;
  display: flex;
  align-items: center;
}

.project-card-action a,
.project-card-action button {
  text-decoration: none;
  border: none;
  background-color: #fff;
  color: #222;
  font-size: .9em;
  padding: .6em 1em;
  cursor: pointer;
  margin-right: 1em;
  border: 1px solid #222;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: 0.5s;
}

.project-card-action svg {
  margin-right: .5em;
}

.project-card-action a:hover, 
.project-card-action button:hover {
  background-color: #222;
  color: #ffbb33;
}