.footer {
  background-color: #222;
  color: #fff;
  padding: 3em;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 1em;
}

.social-list li {
  margin: 0 1em;
}

.social-list li:hover {
  color: #ffbb33;
}

.social-list svg {
  font-size: 20px;
  cursor: pointer;
}

.copy-right span {
  font-size: 12px;
}