.footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  position: fixed;
  width: 100%;
  padding: 10px;
  bottom: 0;
}

.social-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 2px;
}

.social-list li {
  margin: 0 1em;
}

.social-list li:hover {
  color: #ffbb33;
}

.social-list svg {
  font-size: 20px;
  cursor: pointer;
}

.copy-right span {
  font-size: 12px;
}